on: push 
jobs:
  build:
    runs-on: windows-latest
    steps:
      - run: cmake -B . -S . -G "Visual Studio 17 2022"
      - run: cmake --build . --config Debug
      - run: cmake --build . --config Release 